@import "tailwindcss";

@tailwind utilities;

@theme {
  /* ================= FONT ================= */
  --font-script: "Alex Brush", cursive;
  --font-heading: "Playfair Display", serif;
  --font-body: "Poppins", sans-serif;

  /* ================= COLOR ================= */
  --color-primary-01: #fe81d4; /* Pink Utama */
  --color-primary-02: #faacbf; /* Pink Muda */
  --color-primary-03: #ffeabb; /* Cream Gold */
  --color-dark: #2d1b24; /* Deep Maroon/Brown untuk teks kontras */
}

@layer utilities {
  /* ================= FONT UTILITIES ================= */
  .font-script {
    font-family: var(--font-script);
  }
  .font-heading {
    font-family: var(--font-heading);
  }
  .font-body {
    font-family: var(--font-body);
  }

  .bg-primary-pink {
    background-color: var(--color-primary-01);
  }
  .bg-secondary-pink {
    background-color: var(--color-primary-02);
  }
  .bg-accent-gold {
    background-color: var(--color-primary-03);
  }

  .text-primary-pink {
    color: var(--color-primary-01);
  }
  .text-accent-gold {
    color: var(--color-primary-03);
  }
  .text-dark-warm {
    color: var(--color-dark);
  }

  .bg-utama {
    background-image: url("../public/general/bg1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
